%h2
  %a{:href => post_path(post)}=h(post.title)
.entrybody
  .date
    %p.month=post.published_at.strftime('%b')
    %p.day=post.published_at.strftime('%d')
  :plain
    #{post.body_html.untaint}
  .meta.right
    %ul
      %li.comments
        %a{:href => post_path(post, :anchor => 'comments')}=pluralize(post.approved_comments.size,"comment")
      -unless post.tags.empty?
        %li.tags
          Tagged
          =linked_tag_list(post.tags)
  .right_clear