<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN" "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
%head
  %meta{"http-equiv"=>"Content-Type", :content=>"application/xhtml+xml", :charset=>"utf-8"}
  %title=yield(:page_title) || h(config[:title])
  =stylesheet_link_tag 'screen'
  =stylesheet_link_tag 'twitter_bird/twitter_bird'
  =javascript_include_tag 'jquery'
  =open_id_delegation_link_tags(h(config[:open_id_delegation, :server]), h(config[:open_id_delegation, :delete])) if config[:open_id_delegation]
  =yield :head
%body
  #wrapper
    #container
      #header
        .subtitle
          A developing rant by
        %h1
          %a#logo{:href => config[:url]}=config[:title]
      #content
        =flash_messages
        #main
          =yield
        #sub
          #search
            %form{:method => "get", :id=>"sform", :action=>"http://www.google.com/search"}
              %h3
                %label{:for=>"q"} Search
                %input{:type=>"text", :id=>"q", :value=>"", :name=>"q", :class => 'textfield'}
                %input{:type=>"hidden", :name=>"sitesearch", :value=>config[:url]}
          #twitter_div
            %h3 Latest Tweet
            =twitter_bird
          #pages
            %h3 Pages
            %ul
              -page_links_for_navigation.each do |link|
                %li=link_to(link.name, link.url)
          -unless category_links_for_navigation.empty?
            #categories
              %h3 Categories
              %ul
                -category_links_for_navigation.each do |link|
                  %li=link_to(link.name, link.url)
          #ad_sense
            :plain
              <script type="text/javascript"><!--
                google_ad_client = "pub-5404691442707851";
                /* 120x240, created 4/10/09 */
                google_ad_slot = "4541708055";
                google_ad_width = 120;
                google_ad_height = 240;
                //-->
              </script>
              <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
              </script>
      #footer
        &#169;
        =config[:author, :name]
        powered by
        %a{:href => "http://enkiblog.com"} Enki
  -if ENV["RAILS_ENV"] == "production"
    :plain
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-8327470-1");
          pageTracker._trackPageview();
        } catch(err) {}
      </script>